USE [master]
GO
/****** Object:  Database [GymDB]    Script Date: 4/2/2026 5:11:32 PM ******/
CREATE DATABASE [GymDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GymDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GymDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GymDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GymDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GymDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GymDB]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLogin] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveAdmins]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ActiveAdmins] AS
SELECT 
    AdminID,
    FirstName + ' ' + LastName AS FullName,
    Email,
    Username,
    Role,
    LastLogin,
    CreatedAt
FROM Admins
WHERE IsActive = 1;
GO
/****** Object:  Table [dbo].[LoginAttempts]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginAttempts](
	[AttemptID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[AttemptTime] [datetime] NOT NULL,
	[WasSuccessful] [bit] NOT NULL,
	[IPAddress] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RecentLoginAttempts]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Recent login attempts (last 24 hours)
CREATE VIEW [dbo].[vw_RecentLoginAttempts] AS
SELECT 
    Email,
    MAX(AttemptTime) AS LastAttempt,
    SUM(CASE WHEN WasSuccessful = 1 THEN 1 ELSE 0 END) AS SuccessfulAttempts,
    SUM(CASE WHEN WasSuccessful = 0 THEN 1 ELSE 0 END) AS FailedAttempts
FROM LoginAttempts
WHERE AttemptTime > DATEADD(DAY, -1, GETDATE())
GROUP BY Email;
GO
/****** Object:  Table [dbo].[Members]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[MembershipType] [nvarchar](50) NOT NULL,
	[JoinDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [FirstName], [LastName], [Email], [Username], [PasswordHash], [Role], [IsActive], [LastLogin], [CreatedDate]) VALUES (8, N'Christian ', N'Kasilag', N'christianreykclg@gmail.com', N'chris', N'121212', N'Admin', 1, CAST(N'2026-03-20T18:26:00.403' AS DateTime), CAST(N'2026-03-20T11:32:51.363' AS DateTime))
INSERT [dbo].[Admins] ([AdminID], [FirstName], [LastName], [Email], [Username], [PasswordHash], [Role], [IsActive], [LastLogin], [CreatedDate]) VALUES (9, N'Xyrelle Rafael', N'Cortez', N'Rafael2004@gmail.com', N'Cortez', N'123456789', N'Admin', 1, CAST(N'2026-03-28T21:01:22.020' AS DateTime), CAST(N'2026-03-21T20:56:07.250' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginAttempts] ON 

INSERT [dbo].[LoginAttempts] ([AttemptID], [Email], [AttemptTime], [WasSuccessful], [IPAddress]) VALUES (1, N'adada', CAST(N'2026-03-15T17:54:26.197' AS DateTime), 0, NULL)
INSERT [dbo].[LoginAttempts] ([AttemptID], [Email], [AttemptTime], [WasSuccessful], [IPAddress]) VALUES (2, N'adadaadasdd', CAST(N'2026-03-15T17:54:34.180' AS DateTime), 0, NULL)
INSERT [dbo].[LoginAttempts] ([AttemptID], [Email], [AttemptTime], [WasSuccessful], [IPAddress]) VALUES (3, N'christianreykclg@gmail.com', CAST(N'2026-03-15T18:09:31.207' AS DateTime), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[LoginAttempts] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Email], [Phone], [MembershipType], [JoinDate], [IsActive]) VALUES (1, N'xyrelle', N'cortez', N'rafael2004@gmail.com', N'09694053749', N'Student', CAST(N'2026-03-20T10:49:04.160' AS DateTime), 1)
INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Email], [Phone], [MembershipType], [JoinDate], [IsActive]) VALUES (2, N'christian rey', N'kasilag', N'kasilag@gmail.com', N'09364758153', N'Student', CAST(N'2026-03-20T10:50:18.227' AS DateTime), 1)
INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Email], [Phone], [MembershipType], [JoinDate], [IsActive]) VALUES (3, N'john edison', N'silverio', N'yearnerfinalboss@gmail.com', N'0985637289', N'Student', CAST(N'2026-03-20T10:51:36.473' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__536C85E4E73D2AE1]    Script Date: 4/2/2026 5:11:32 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__A9D105341D0C879B]    Script Date: 4/2/2026 5:11:32 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admins_Email]    Script Date: 4/2/2026 5:11:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_Admins_Email] ON [dbo].[Admins]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admins_Username]    Script Date: 4/2/2026 5:11:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_Admins_Username] ON [dbo].[Admins]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoginAttempts_AttemptTime]    Script Date: 4/2/2026 5:11:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoginAttempts_AttemptTime] ON [dbo].[LoginAttempts]
(
	[AttemptTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LoginAttempts_Email]    Script Date: 4/2/2026 5:11:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoginAttempts_Email] ON [dbo].[LoginAttempts]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members__A9D10534A85F2CDA]    Script Date: 4/2/2026 5:11:32 PM ******/
ALTER TABLE [dbo].[Members] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ('Admin') FOR [Role]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LoginAttempts] ADD  DEFAULT (getdate()) FOR [AttemptTime]
GO
ALTER TABLE [dbo].[LoginAttempts] ADD  DEFAULT ((0)) FOR [WasSuccessful]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ('Basic') FOR [MembershipType]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminLogin]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AdminLogin]
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SELECT 
        AdminID,
        FirstName,
        LastName,
        Email,
        Username,
        Role,
        IsActive,
        LastLogin
    FROM Admins
    WHERE Email = @Email 
        AND PasswordHash = @PasswordHash 
        AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAdmin]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Create new admin (Owner only)
CREATE PROCEDURE [dbo].[sp_CreateAdmin]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @Role NVARCHAR(50),
    @CreatedBy NVARCHAR(100)
AS
BEGIN
    INSERT INTO Admins (FirstName, LastName, Email, Username, PasswordHash, Role)
    VALUES (@FirstName, @LastName, @Email, @Username, @PasswordHash, @Role);
    
    -- Log the creation
    SELECT SCOPE_IDENTITY() AS NewAdminID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeactivateAdmin]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Deactivate admin
CREATE PROCEDURE [dbo].[sp_DeactivateAdmin]
    @AdminID INT,
    @DeactivatedBy NVARCHAR(100)
AS
BEGIN
    UPDATE Admins 
    SET IsActive = 0,
        UpdatedAt = GETDATE()
    WHERE AdminID = @AdminID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdminByEmail]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Get admin by email
CREATE PROCEDURE [dbo].[sp_GetAdminByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT 
        AdminID,
        FirstName,
        LastName,
        Email,
        Username,
        Role,
        IsActive,
        LastLogin
    FROM Admins
    WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveAdmins]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Get all active admins
CREATE PROCEDURE [dbo].[sp_GetAllActiveAdmins]
AS
BEGIN
    SELECT 
        AdminID,
        FirstName,
        LastName,
        Email,
        Username,
        Role,
        LastLogin,
        CreatedAt
    FROM Admins
    WHERE IsActive = 1
    ORDER BY Role, LastName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LogLoginAttempt]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Log login attempt
CREATE PROCEDURE [dbo].[sp_LogLoginAttempt]
    @Email NVARCHAR(100),
    @WasSuccessful BIT,
    @IPAddress NVARCHAR(50) = NULL
AS
BEGIN
    INSERT INTO LoginAttempts (Email, WasSuccessful, IPAddress)
    VALUES (@Email, @WasSuccessful, @IPAddress);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLastLogin]    Script Date: 4/2/2026 5:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Update last login time
CREATE PROCEDURE [dbo].[sp_UpdateLastLogin]
    @Email NVARCHAR(100)
AS
BEGIN
    UPDATE Admins 
    SET LastLogin = GETDATE()
    WHERE Email = @Email;
END;
GO
USE [master]
GO
